<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intégration UTT</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 16px; margin: 0; padding: 0; background-color: #ffffff; text-align: center; color: #222;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
        <tr>
            <td align="center" style="padding: 24px;">
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="max-width: 100%; margin: 0 auto; background-color: #f8f8f8; border-radius: 8px; overflow: hidden;">
                    <tr>
                        <td align="center" style="padding: 10px;">
                            <img src="https://integration.utt.fr/img/logo_original.png" alt="Logo Intégration UTT" style="width: 104px; height: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 21px; font-weight: bold; line-height: 1.4; padding: 10px 0; text-align: center;">
                            INTEGRATION UTT
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height: 1.6; padding: 0 12px 12px; text-align: justify;">
                            <h2 style="font-size: 24px; margin: 0 0 16px; text-align: center;">Salut à toi jeune nouveau !</h2>
                            <p>Bravo pour ton admission à l'UTT ! Nous sommes l'équipe d'intégration, des étudiants bénévoles qui préparent minutieusement ton arrivée pour que celle-ci reste inoubliable.</p>
                            <p>Un tas d'événements incroyables, dont la participation est basée sur le volontariat, t'attendent dès le <strong><u>Lundi 31 Août</u></strong> que tu arrives en 1ère année, en 3ème année, en master ou en Bachelor !</p>
                            <p>Tout est fait pour que tu t'éclates et que tu rencontres les personnes qui feront de ton passage à l'UTT un moment inoubliable. Mais avant toute chose, il faut te préparer.</p>
                            <p>Assure-toi de réaliser les tâches suivantes avant ton arrivée :</p>

                            <h3 style="text-align: center;">1. Se connecter sur le site de l'intégration</h3>
                            <p>Pour pouvoir te connecter au site de l'intégration il te suffit de changer ton mot de passe en cliquant sur ce lien suivant :</p>
                            <p style="text-align: center;">
                                <a href="https://integration.utt.fr/register?token={{token}}" style="color: #e74160; font-weight: bold;" target="_blank">Changer ton mot de passe</a>
                            </p>
                            <p style="color: red; font-weight: bold;">Attention, ce lien est valable uniquement une fois !</p>
                            <p>Une fois cela fait, tu pourras te connecter à ton compte et y retrouver toutes les informations relatives aux événements de la semaine via le lien suivant :</p>
                            <p style="text-align: center;">
                                <a href="https://integration.utt.fr/" style="color: #e74160; font-weight: bold;" target="_blank">https://integration.utt.fr</a>
                            </p>

                            <h3 style="text-align: center;">2. Parrainage</h3>
                            <p style="font-size: 11pt; margin: 0;">Lorsque tu arrives à l'UTT, un.e étudiant.e plus ancien.ne devient ton parrain ou ta marraine. Il ou elle sera ton contact privilégié pour découvrir l'école mais aussi la vie étudiante troyenne et répondre à toutes tes questions que ce soit sur l'UTT, les logements, les cours, la vie à Troyes,...</p>
                            <p style="font-size: 11pt; margin: 10px 0;">Pour t'attribuer quelqu'un qui te correspond au mieux on t'invite à remplir
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLScThti-8I0ceHVb8RBYPzLcGhXNo2KPMg_nQHshrb6hC8EG_w/viewform?pli=1&fbzx=-7742379441906364887" style="color: #e74160; font-weight: bold;" target="_blank">ce questionnaire</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 24px 24px;">
                            <h3 style="text-align: center;">Retrouve des informations utiles sur notre Instagram !</h3>
                            <div style="margin: auto; width: fit-content;">
                                <a href="https://www.instagram.com/bde.utt" target="_blank">
                                    <img src="https://cdn.tools.unlayer.com/social/icons/rounded/instagram.png" alt="Instagram" style="width: 30px; height: 30px; margin: 5px;">
                                </a>
                            </div>
                            <p>Cordialement,<br>L'équipe intégration UTT</p>
                            <p style="font-size: 12px; color: #999999; margin: 0;text-align: center;">Si vous avez des questions, n'hésitez pas à <a href="mailto:integration@utt.fr" style="color: #e74160; text-decoration: none;">nous contacter</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: 2px solid #ccc; padding: 20px 0;"></td>
                    </tr>
                    <tr>
                        <td style="line-height: 1.6; padding: 0 12px 12px; text-align: justify;">
                            <h2 style="font-size: 24px; margin: 0 0 16px; text-align: center;">Hello there, new arrival!</h2>
                            <p>Congratulations on being admitted to UTT! We are the integration team, a group of volunteer students who carefully prepare your arrival so that it becomes truly unforgettable.</p>
                            <p>A lot of incredible events, all based on voluntary participation, are waiting for you starting on <strong><u>Monday, August 31st</u></strong>, whether you are entering your first year, third year, a master's program, or a bachelor's program!</p>
                            <p>Everything is set up so you can have fun and meet the people who will make your time at UTT unforgettable. But first, you need to get ready.</p>
                            <p>Make sure you complete the following tasks before you arrive:</p>

                            <h3 style="text-align: center;">1. Log in to the integration website</h3>
                            <p>To log in to the integration website, you simply need to change your password by clicking the following link:</p>
                            <p style="text-align: center;">
                                <a href="https://integration.utt.fr/register?token={{token}}" style="color: #e74160; font-weight: bold;" target="_blank">Change your password</a>
                            </p>
                            <p style="color: red; font-weight: bold;">Warning: this link is valid only once!</p>
                            <p>Once that is done, you will be able to log into your account and find all the information about the week's events through the following link:</p>
                            <p style="text-align: center;">
                                <a href="https://integration.utt.fr/" style="color: #e74160; font-weight: bold;" target="_blank">https://integration.utt.fr</a>
                            </p>

                            <h3 style="text-align: center;">2. Mentorship</h3>
                            <p style="font-size: 11pt; margin: 0;">When you arrive at UTT, an older student will become your sponsor or mentor. They will be your main contact to help you discover the school as well as student life in Troyes, and to answer all your questions about UTT, housing, classes, and life in Troyes.</p>
                            <p style="font-size: 11pt; margin: 10px 0;">To be matched with someone who suits you best, we invite you to fill out
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLScThti-8I0ceHVb8RBYPzLcGhXNo2KPMg_nQHshrb6hC8EG_w/viewform?pli=1&fbzx=-7742379441906364887" style="color: #e74160; font-weight: bold;" target="_blank">this questionnaire</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 24px 24px;">
                            <h3 style="text-align: center;">Find useful updates on our Instagram!</h3>
                            <div style="margin: auto; width: fit-content;">
                                <a href="https://www.instagram.com/bde.utt" target="_blank">
                                    <img src="https://cdn.tools.unlayer.com/social/icons/rounded/instagram.png" alt="Instagram" style="width: 30px; height: 30px; margin: 5px;">
                                </a>
                            </div>
                            <p>Regards,<br>The UTT's Integration Team</p>
                            <p style="font-size: 12px; color: #999999; margin: 0;text-align: center;">If you have any questions, feel free to <a href="mailto:integration@utt.fr" style="color: #e74160; text-decoration: none;">contact us</a>.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
