# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log
package-lock.json
yarn.lock
.pnpm-debug.log

# TypeScript
*.tsbuildinfo

# Environnements & secrets
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.log

# Build output
dist/
build/
.cache/
.next/
out/
.vite/

# Editor & System files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
db/data/
