API_UTT_AUTH_URL=
API_UTT_ADMIS_URL=
API_UTT_ADMIS_URL_ISMAJOR=
API_UTT_USERNAME=
API_UTT_PASSWORD=

AUTOMATION_TOKEN=

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

CAS_VALIDATE_URL=
CAS_LOGIN_URL=

DATABASE_URL=postgresql://admin:password@localhost:5432/integration-dev
OUTSIDE_DATABASE_URL=postgresql://admin:password@localhost:5432/integration-dev

# Les variables Billetweb permettent d'autoriser l'achat de billets uniquement aux membres d'une liste d'adresses emails commandée par le site.
# En 2026, cette liste comprends automatiquement les Nouveaux et CE ayant remplis le formulaire "Contact de secours" et le questionnaire VSS.
# 
# Le token se récupère sur la page https://www.billetweb.fr/bo/api.php#/, en étant préalablement connecté au compte billetweb de l'Intégration.
# 
# L'ID de la liste d'accès se récupère sur la page Configuration > Offres Spréciales > Filtrage par liste > Cliquer sur la liste ; Il s'agit de largument "list_parent" dans l'URL.
# Exemple: https://www.billetweb.fr/bo/lists.php?list_parent=925 -> API_BILLETWEB_RESPONDENT_STUDENTS_LIST_ID=925

API_BILLETWEB_URL=https://www.billetweb.fr/api
API_BILLETWEB_TOKEN=Basic azerty
API_BILLETWEB_RESPONDENT_STUDENTS_LIST_ID=

JWT_SECRET=

POSTGRES_PASSWORD=password
POSTGRES_USER=admin
POSTGRES_DB=integration-dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SERVER_PORT=4001
SERVICE_URL=http://localhost:4001/

SHOTGUN_PASSWORD=vodka

SPREADSHEET_ID=
