API_UTT_AUTH_URL=
API_UTT_ADMIS_URL=
API_UTT_ADMIS_URL_ISMAJOR=
API_UTT_USERNAME=
API_UTT_PASSWORD=

AUTOMATION_TOKEN=

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

CAS_VALIDATE_URL=
CAS_LOGIN_URL=

DATABASE_URL=postgresql://admin:password@localhost:5432/integration-dev
OUTSIDE_DATABASE_URL=postgresql://admin:password@localhost:5432/integration-dev

JWT_SECRET=

POSTGRES_PASSWORD=password
POSTGRES_USER=admin
POSTGRES_DB=integration-dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SERVER_PORT=4001
SERVICE_URL=http://localhost:4001/

SHOTGUN_PASSWORD=vodka

SPREADSHEET_ID=
