<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Intégration UTT</title>
    </head>
    <body
        style="
            font-family: Arial, sans-serif;
            font-size: 16px;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            text-align: center;
            color: #222;
        ">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
            <tr>
                <td align="center" style="padding: 24px">
                    <table
                        width="600"
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        style="
                            max-width: 100%;
                            margin: 0 auto;
                            background-color: #f8f8f8;
                            border-radius: 8px;
                            overflow: hidden;
                        ">
                        <tr>
                            <td align="center" style="padding: 10px">
                                <img
                                    src="https://integration.utt.fr/img/logo_original.png"
                                    alt="Logo Intégration UTT"
                                    style="width: 104px; height: auto" />
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="
                                    font-size: 21px;
                                    font-weight: bold;
                                    line-height: 1.4;
                                    padding: 10px 0;
                                    text-align: center;
                                ">
                                INTEGRATION UTT
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height: 1.6; padding: 0 12px 12px; text-align: justify">
                                <h2 style="font-size: 24px; margin: 0 0 16px; text-align: center">
                                    Le Week-End d'Intégration approhe à grands pas !
                                </h2>

                                <h3 style="text-align: center">Convocation</h3>
                                <p>Tu as été affecté.e au bus n°<strong>{{bus}}</strong></p>
                                <p>
                                    On te demande donc d'être présent en <b>amphithéâtre de verdure</b> à l'UTT à
                                    <b>{{time}}</b>
                                </p>

                                <h3 style="text-align: center">Quelques infos</h3>
                                <p>
                                    Si tu reçois ce message c'est que tu pars au WEI (youhouu !), tu trouveras dans
                                    celui-ci le bus avec lequel tu vas te rendre sur le lieu pour ce week-end.
                                </p>
                                <p>
                                    Fais bien attention à ne <strong>pas être en retard</strong> sous peine de rater ton
                                    bus, ça serait embêtant à la fois pour toi et pour nous.
                                </p>
                                <p>
                                    Autre point très important : les essentiels pour le WEI. Tu trouveras ci-dessous un
                                    rappel des objets obligatoires à ramener pour passer un bon week-end. Il risque de
                                    pleuvoir alors prévoyez bien en conséquence !
                                </p>
                                <ul
                                    style="
                                        list-style-type: disc;
                                        padding: 0 0 0 20px;
                                        margin: 0 auto;
                                        text-align: left;
                                        display: inline-block;
                                    ">
                                    <li style="margin-bottom: 5px">
                                        Duvet et matelas gonflable/tapis de sol 🛏️ (si vous n'avez pas de duvet, vous ne
                                        partirez pas)
                                    </li>
                                    <li style="margin-bottom: 5px">Gourde, Tupperware, couverts, gobby (=écocup) 🍴</li>
                                    <li style="margin-bottom: 5px">
                                        Vêtements : changes pour 2 jours, pull, maillot de bain 👙
                                    </li>
                                    <li style="margin-bottom: 5px">Manteau imperméable 🧥</li>
                                    <li style="margin-bottom: 5px">
                                        Affaires salissables : change complet &amp; chaussures (à mettre dès le départ
                                        en bus) 🚌
                                    </li>
                                    <li style="margin-bottom: 5px">
                                        Produits d'hygiène : brosse à dent, serviette, nécessaire de toilette 🪥
                                    </li>
                                    <li style="margin-bottom: 5px">Tongues/crocs pour les douches 🩴</li>
                                    <li style="margin-bottom: 5px">
                                        Papiers importants : Carte d'identité, CB &amp; liquide, autorisation parentale
                                        (pour les mineurs) 💳
                                    </li>
                                    <li style="margin-bottom: 5px">Ta place au WEI 📩</li>
                                    <li style="margin-bottom: 5px">Crème solaire &amp; anti-moustique ☀️</li>
                                    <li style="margin-bottom: 5px">
                                        De quoi grignoter (prenez un pique-nique à manger avant de prendre le bus, pas
                                        dans le bus) 😋
                                    </li>
                                </ul>
                                <h3 style="text-align: center; color: #d00000">🚫 Affaires interdites :</h3>
                                <ul
                                    style="
                                        list-style-type: disc;
                                        padding: 0 0 0 20px;
                                        margin: 0 auto;
                                        text-align: left;
                                        display: inline-block;
                                        color: #d00000;
                                    ">
                                    <li style="margin-bottom: 5px">Boissons autres que de l'eau</li>
                                    <li style="margin-bottom: 5px">Substances illicites</li>
                                    <li style="margin-bottom: 5px">Armes blanches</li>
                                    <li style="margin-bottom: 5px">Déodorant en spray</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0 24px 24px">
                                <h3 style="text-align: center">
                                    Retrouve des informations utiles sur notre Instagram !
                                </h3>
                                <div style="margin: auto; width: fit-content">
                                    <a href="https://www.instagram.com/bde.utt" target="_blank">
                                        <img
                                            src="https://cdn.tools.unlayer.com/social/icons/rounded/instagram.png"
                                            alt="Instagram"
                                            style="width: 30px; height: 30px; margin: 5px" />
                                    </a>
                                </div>
                                <p>Cordialement,<br />L'équipe intégration UTT</p>
                                <p style="font-size: 12px; color: #999999; margin: 0; text-align: center">
                                    Si vous avez des questions, n'hésitez pas à
                                    <a
                                        href="mailto:integration+site-support@utt.fr"
                                        style="color: #e74160; text-decoration: none"
                                        >nous contacter</a
                                    >.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 2px solid #ccc; padding: 20px 0"></td>
                        </tr>
                        <tr>
                            <td style="line-height: 1.6; padding: 0 12px 12px; text-align: justify">
                                <h2 style="font-size: 24px; margin: 0 0 16px; text-align: center">
                                    The Integration Weekend is fast approaching!
                                </h2>

                                <h3 style="text-align: center">Convocation</h3>
                                <p>You have been assigned to bus number <strong>{{bus}}</strong></p>
                                <p>
                                    You are therefore expected to be present at the <b>green amphitheater</b> at UTT at
                                    <b>{{time}}</b>
                                </p>

                                <h3 style="text-align: center">Some information</h3>
                                <p>
                                    If you are receiving this message, it means you are going to the Integration Weekend
                                    (WEI, yay!). In this message you will find the bus you will take to get to the event
                                    location for the weekend.
                                </p>
                                <p>
                                    Please make sure not to <strong>be late</strong> or you may miss your bus, which
                                    would be inconvenient both for you and for us.
                                </p>
                                <p>
                                    Another very important point: the essentials for the WEI. Below you will find a
                                    reminder of the mandatory items to bring to have a great weekend. It may rain, so
                                    please prepare accordingly!
                                </p>

                                <ul
                                    style="
                                        list-style-type: disc;
                                        padding: 0 0 0 20px;
                                        margin: 0 auto;
                                        text-align: left;
                                        display: inline-block;
                                    ">
                                    <li style="margin-bottom: 5px">
                                        Sleeping bag and inflatable mattress/sleeping mat 🛏️ (if you don’t have a
                                        sleeping bag, you will not be allowed to go)
                                    </li>
                                    <li style="margin-bottom: 5px">
                                        Water bottle, Tupperware, cutlery, reusable cup 🍴
                                    </li>
                                    <li style="margin-bottom: 5px">
                                        Clothing: change of clothes for 2 days, sweater, swimsuit 👙
                                    </li>
                                    <li style="margin-bottom: 5px">Waterproof jacket 🧥</li>
                                    <li style="margin-bottom: 5px">
                                        Clothes that can get dirty: full change of clothes & shoes (to be worn from the
                                        start on the bus) 🚌
                                    </li>
                                    <li style="margin-bottom: 5px">
                                        Hygiene products: toothbrush, towel, toiletries 🪥
                                    </li>
                                    <li style="margin-bottom: 5px">Flip-flops/Crocs for showers 🩴</li>
                                    <li style="margin-bottom: 5px">
                                        Important documents: ID card, bank card & cash, parental authorization (for
                                        minors) 💳
                                    </li>
                                    <li style="margin-bottom: 5px">Your ticket for the WEI 📩</li>
                                    <li style="margin-bottom: 5px">Sunscreen & mosquito repellent ☀️</li>
                                    <li style="margin-bottom: 5px">
                                        Snacks (bring a picnic to eat before getting on the bus, not on the bus) 😋
                                    </li>
                                </ul>

                                <h3 style="text-align: center; color: #d00000">🚫 Prohibited items:</h3>
                                <ul
                                    style="
                                        list-style-type: disc;
                                        padding: 0 0 0 20px;
                                        margin: 0 auto;
                                        text-align: left;
                                        display: inline-block;
                                        color: #d00000;
                                    ">
                                    <li style="margin-bottom: 5px">Drinks other than water</li>
                                    <li style="margin-bottom: 5px">Illegal substances</li>
                                    <li style="margin-bottom: 5px">Weapons</li>
                                    <li style="margin-bottom: 5px">Spray deodorant</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0 24px 24px">
                                <h3 style="text-align: center">Stay updated by following us on Instagram!</h3>
                                <div style="margin: auto; width: fit-content">
                                    <a href="https://www.instagram.com/bde.utt" target="_blank">
                                        <img
                                            src="https://cdn.tools.unlayer.com/social/icons/rounded/instagram.png"
                                            alt="Instagram"
                                            style="width: 30px; height: 30px; margin: 5px" />
                                    </a>
                                </div>
                                <p>Regards,<br />The UTT's Integration Team</p>
                                <p style="font-size: 12px; color: #999999; margin: 0; text-align: center">
                                    If you have any questions, feel free to
                                    <a
                                        href="mailto:integration+site-support@utt.fr"
                                        style="color: #e74160; text-decoration: none"
                                        >contact us</a
                                    >.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
